/* Webfont: Lato-Light 300*/
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Light.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato/Lato-Light.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato/Lato-Light.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato/Lato-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Regular 400*/
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato/Lato-Regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Medium 500*/
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Medium.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato/Lato-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato/Lato-Medium.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato/Lato-Medium.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato/Lato-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Semibold 600*/@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Semibold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato/Lato-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato/Lato-Semibold.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato/Lato-Semibold.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato/Lato-Semibold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
    text-rendering: optimizeLegibility;
}


/* Webfont: Lato-Bold 700*/@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato/Lato-Bold.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato/Lato-Bold.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato/Lato-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}


/* Webfont: Lato-Heavy 800*/
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Heavy.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato/Lato-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato/Lato-Heavy.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato/Lato-Heavy.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato/Lato-Heavy.ttf') format('truetype');
    font-style: normal;
    font-weight: 800;
    text-rendering: optimizeLegibility;
}


/* Webfont: Lato-Black 900*/
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Black.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato/Lato-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato/Lato-Black.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato/Lato-Black.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato/Lato-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: 900;
    /*font-weight: normal;*/
    text-rendering: optimizeLegibility;
}